<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/home.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="toplogo">
                <a href="#"><img src="/logo_Wizard-removebg-preview.png" alt=""></a>
            </div>
            <a href="#">Home</a>
            <a href="#">About us</a>
            <a href="#">Contact Us</a>
        </nav>
        <form action="#" class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class='bx bx-search-alt-2'></i></button>
        </form>
    </header>

    <div class="background"></div>
    <div class="container">
        <div class="content">
            <h1 class="logo"> Tech-Wizard</h1>
            <div class="text-sci">
                <h2>Welcome.<br><span>To our Website.</span></h2>
                <p>WE BUILD
                    WEBSITES
                    THAT BUILD YOUR
                    BUSINESSES</p>

                    <div class="social-icons">
                        <a href="#"><i class='bx bxl-linkedin'></i></a>
                        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                        <a href="#"><i class='bx bxl-instagram' ></i></a>
                        <a href="#"><i class='bx bxl-twitter' ></i></a>
                    </div>
            </div>
        </div> 

        <div class="logreg-box">
            <div class="form-box login">
               
            <img src="/Calango - Ginetta.gif" alt="">
                    </div>
            
        </div>
    </div>



</body>
</html>